.table {
    margin: 0.3rem 0.3rem 0;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0.13333rem 0.29333rem 0.02667rem rgb(0 0 0 / 12%);
    border-radius: 0.10667rem;
    overflow-y: auto;
    .hd {
        // background: #f4f4f4;
        border-radius: 0.10667rem;
        height: 0.93333rem;
        line-height: 0.93333rem;
        .txt {
            font-size: 0.32rem;
        }
    }
}

.c-tc {
    text-align: center;
}

.van-col--6 {
    width: 25%;
}

.van-col {
    float: left;
    box-sizing: border-box;
    min-height: 0.02667rem;
}

.van-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box {
    width: 420px;
    min-width: 10.66667rem;
}

.van-col--4 {
    width: 16.66666667%;
}

.van-col--5 {
    width: 20.83333333%;
}

.hd.dl {
    height: 1.06667rem;
    line-height: 0.53333rem;
}

.bd {
    height: 0.93333rem;
    line-height: 0.93333rem;
}

.tit {
    background: #f4f4f4;
    padding: 0 0.4rem;
    padding-top: 0.4rem;
    height: 0.90667rem;
    line-height: 0.90667rem;
    color: #333;
}
