.Loading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
}

.van-loading,
.van-loading__spinner {
    position: relative;
    vertical-align: middle;
}

.van-loading {
    color: #c8c9cc;
    font-size: 0;
}

.van-loading__spinner--circular {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.van-loading__spinner {
    display: inline-block;
    width: 0.8rem;
    max-width: 100%;
    height: 0.8rem;
    max-height: 100%;
    -webkit-animation: van-rotate 0.8s linear infinite;
    animation: van-rotate 0.8s linear infinite;
    position: relative;
    vertical-align: middle;
}
